body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: url('./images/bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header {
    width: 100%;
    background-color: #fee131;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: 3; /* Ensure header stays on top */
}

.header .logo {
    height: 15vh;
    position: left;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    z-index: 1; /* Ensure the blurred background is behind the content */
}

.container {
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    z-index: 2; /* Ensure the container is above the blurred background */
}

.container h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.input-container {
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container input:focus {
    border-color: #007bff;
}

.checkbox-container {
    text-align: left;
    margin-bottom: 15px;
}

.checkbox-container input {
    margin-right: 10px;
}

.checkbox-container label {
    font-size: 0.9em;
}

.btn {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn:hover {
    background-color: #e0a800;
}
